/* reset */
html{margin:0; padding:0; background: #ddd; background-image: url("../images/bg3.png"); background-size: auto 100%;}
body{
    margin:0 auto !important; 
    font:normal 12px arial, sans-serif; 
    color:#333; overflow-x: hidden; overflow-y: hidden;
    background: rgb(68,68,67);
    background-size: auto 100%;
    height: 100%;
    position: fixed;
    width: 100%;
    font-family: tahoma;
}

.clsLoadingText{
    color: #03647b;
    font-size: 1em;
}
.imgLoader{
    height: 2em;
}
img{border:none; max-height: 100%; max-width: 100%;
    image-rendering: -webkit-optimize-contrast;}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.modal {
    text-align: center;
    padding: 0!important;
}
.modal-body{
    padding: 0px !important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.btn{
    font-size: 1.1em !important;
    font-weight: bold !important;
}
.alert{
    font-size: 1.2em !important;
    font-weight: bold !important;
    padding: 0;
}
@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}

#header{
    /*background-color: lightblue;*/
    width:100%;
    height: 4.4em !important;
    text-align: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
    background: rgb(0,183,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

}

.toast {
  opacity: 1 !important;
}

#toast-container > div {
  opacity: 1 !important; 
}

.clsColRed{
    color: red;
}

#header .divPageHeader{
    font-size: 1.8em;
    padding-top: 3%;
    height: 100%;
    color: white;
    font-weight: bold;
}
#main{
    float:left;
    padding: 0.3em 0;
    background-color: whitesmoke;
    width:100%;
    height: 89%;
    font-size: 1.2em;
}

#main input{
    width: 90%;
}

#footer{
    clear:both;
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: lightblue;
}

#sidebar-left {
    float: left;
    width: 65%;
    border-right: 0.5em solid #0658ad;
    position: absolute;
    top: 0%;
    height: 100%;
    display:none;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4096ee+0,4096ee+100;Blue+Flat+%232 */
    background: rgb(64,150,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(64,150,238,1) 0%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(64,150,238,1) 0%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */	
}

#div-sidebar-left{
    overflow: scroll;
    height: 90%;
}

#ivolume{
    top: 10%;
    left: 5%;
    z-index: 999;
    position: absolute;
    color: #ddd9df;
}
#ithumbsup{
    top: 100%;
    left: 55%;
    z-index: 999;
    position: absolute;
    color: #ddd9df !important;
}
#imgDiv{
    width: 80%;
    margin: 0 10%;
    text-align: center;
    line-height: 0;
    height: 100%;
}
.invisible{
    background-color: inherit;
    color: inherit;
}
.font{
    font-family: tahoma;
}
.modal-dialog{
    text-align: center;
    font-family: tahoma;
    font-size: 21px;
    /*    background-color: #98E2FF;
        background-image: linear-gradient( #F5F0F3, #5A89D0 );
        border: 4px solid #DCDFE2;   */
    width: 90% !important;
}
.msgAdblock{
    background-color: #FF9898;
    border-bottom: 10px solid #DC8686;    
}
.modal-content{
    padding: 4%;
}

#sidebar-left .clsMenu{
    height: 7%;
    text-align: center;
    background-color: #0051a5;
    font-size: 2em;
    color: white;
    font-weight: bold;
}

#header #icon_menu{
    font-size: 2.5em;
    float: left;
    padding: 0.4em;
    color: white;
}

#sidebar-left #icon_menu_close{
    float: right;
    font-size: 1.3em;
    color: white;
}

#sidebar-left ul li {
    font-size: 1.5em;
    color: white;
    padding: 0.5em 0;
}

/***** Pages Html *****/
#main table{
    width:100%;
}
#main table td{
    padding:0.5em 0;
}
#main .clsCreateDeal{
    font-size:1.5em;
}
#main .clsCreateDeal .clsInput{
    width: 50%;
}

#toast-container{
    margin-top: 20%;
    font-size: 1.3em;
}

/**** Cust List  ****/

.clsDivCustList .custListName{
    height: 1.4em;
    overflow: hidden;
}
.tblAddCust tr td{
    width:50%;
}
.clsDivCustList{
    height:100%;
    overflow:scroll;
}
.divCustRow{
    height: 25%;
    overflow: hidden;
}
.clsDivCustList .divCustRow div{
    width: 50%;
}
.divCustSec{
    height: 6.5em;
    border-top: 0.15em solid #037e9c;
    padding: 2%;
    /*border-radius: 5%;*/
    /*font-size: 0.9em;*/
    /*margin-bottom: 1%;*/
}
.divCustSec .divCustRow div{
    float: left;
}
.divCustSec .divCustRow .headCustListName, .divCustSec .divCustRow .headCustListSdate{
    font-weight: bold;
}
.headCustListName, .headCustMono{
    color: #045f75;
}
.headCustListSdate{
    color: #47137b;
}
.headCustInvoiceAmt{
    color: #025602;
}
.divCustSec .divCustRow .headCustMono, .divCustSec .divCustRow .headCustInvoiceAmt{
    font-weight: bold;
}
.clsServiceAddPage .divServicingItems{
    height: 100%;
    overflow: scroll;
}
/**** Cust Detail ****/
.clsInvoiceHead{
    text-align: center;
    background-color: #988c00;
    color: white;
    font-weight: bold;
}
.tblCustDetail{
    text-align: center !important;
    margin: 0 auto !important;
    width: 94% !important;
}
.tblCustDetail td{
    padding: 0.2em 0 !important;
    text-align: left !important;
}
.clsBtnAddInv, #btnBacklist {
    width: auto !important;
    padding: 0 4% !important;
    font-weight: bold !important;
    font-size: 1em !important;
}
.pdivSearchCust .divCustSec{
    width: 100%;
    text-align: left;
}
/**** Servicing ****/
.tblServicing .clsSpanVno input{
    /*width: 48% !important;*/
}
.clsServiceAddPage i{
    font-size: 1.5em;
}
.clsServiceAddPage{
    height: 100%;
    overflow: hidden;
}
.clsCamImgTaken{
    color: darkgreen;
}
.tblInvCustDetail{
    text-align: center;
    margin: 0 auto;
    border: 0.1em solid #585201;
}
.tblInvCustDetail td{
    padding: 0.1em !important;
}
.tblInvCustDetail .invTdSummary{
    background-color: #b1efff;
}
.tblServicing .clsTdButtons input{
    width: 40% !important;
}

.custControls .fa-3{
    font-size: 1.5em;
    vertical-align: bottom;
}

.clsInvoiceDetail .invTdAction i{
    padding: 0 4%;
}